<div class="ui inverted dimmer" [class.active]="loading">
  <div class="ui text loader">Loading</div>
</div>
<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker</h1>
  <hr />
  <app-dashboard-card
    [totalConfirmed]="totalConfirmed"
    [totalActive]="totalActive"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"
  ></app-dashboard-card>

  <hr />
  <div class="ui form">
    <div class="inline fields">
      <label for="fruit">Select Case Type : </label>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            id="c"
            #Confirmed
            (click)="updateChart(Confirmed)"
            value="Confirmed"
            name="casetype"
            checked=""
            tabindex="0"
            class="hidden"
          />
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            value="Deaths"
            #Deaths
            (click)="updateChart(Deaths)"
            id="d"
            name="casetype"
            tabindex="0"
            class="hidden"
          />
          <label for="d">Deaths</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            value="Recovered"
            #Recovered
            (click)="updateChart(Recovered)"
            id="r"
            name="casetype"
            tabindex="0"
            class="hidden"
          />
          <label for="r">Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            id="a"
            #Active
            type="radio"
            (click)="updateChart(Active)"
            value="Active"
            name="casetype"
            tabindex="0"
            class="hidden"
          />
          <label for="a">Active</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <google-chart
          [type]="chart.ColumnChart"
          [data]="dataTable"
          [height]="chart.height"
          style="width: 100%"
          [options]="chart.options"
          [columns]="chart.columnNames"
        ></google-chart>
      </div>
      <div class="col">
        <google-chart
          [type]="chart.PieChart"
          [data]="dataTable"
          [height]="chart.height"
          style="width: 100%"
          [options]="chart.options"
        ></google-chart>
      </div>
    </div>
  </div>
</div>
